a.active {
    background-color: #d19945 !important;
    
  }
  .leaflet-container{
    width: 100%;
    height: 100vh;
  }
  img.leaflet-marker-icon {
    background-image: 
    url('<url>');
 }
  @media screen and (max-width: 800px){
    .leaflet-container{
      width: 100%;
      height: 60vh;
    }
  }